/* common font-family */
body {
    font-family: 'Poppins', sans-serif;
    /* background-color: #2d2a2a; */
    margin: 0;
    padding: 0;
}


/* banner content style start */
main {
    margin-bottom: 20px;


}

.banner-container {
    width: 85%;
    height: 500px;
    border-radius: 10px;
    background-color: black;
    margin: 100px auto;
}

.banner-content {
    display: flex;
    padding: 30px 50px 0 50px;
    justify-content: space-evenly;
}

.heading {
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 0;
}

.heading-color {
    color: red;
}

.half-width p {
    color: lightyellow;
    font-size: 12px;
    margin-bottom: 30px;

}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;
    padding: 0 50px;
}

.link-button {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: red;
    box-sizing: border-box;
    align-items: center;
}

.link-button a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}

.link-button:hover {
    background-color: black;
    border: 1px solid white;

}

.link-button a:hover {
    color: red;
}

.fa-greater-than {
    font-size: 20px;
    padding-left: 5px;
}

.player-image {
    width: 500px;
    height: 470px;
    transition: ease 3s;
    /* transform: translateX(-100px); */
    transform-origin: top left;
}

.banner-container:hover .player-image {
    width: 475px;
}

/* -----------------------
banner content style end
-------------------------- */

/* blogs-container style start */
/* blog manues style start */
.manues {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.manues a {
    text-decoration: none;


}

#manue-1 {
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 700;
    color: black;
}

#manue-2 {
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 700;
    color: black;
    margin: 25px 0;
}

#manue-3 {
    background-color: red;
    border-radius: 5px;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 700;
    color: white;
}

#manue-1:hover {
    color: red;
}

#manue-2:hover {
    color: red;
}

#manue-3:hover {
    color: black;

}

/* blog manues style end */


/* ----------------------
blogs style start */

.blogs-container {
    width: 85%;
    background-color: white;
    margin: 150px auto 30px auto;
    display: flex;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 15px;
    justify-content: center;
    align-items: center;
}

.blog {
    margin-left: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 5px 5px 10px grey;
    width: 250px
}



.blog-info img {
    width: 250px;
    border-radius: 5px;

}

.blog-info a {
    text-decoration: none;
    border: 1px solid grey;
    border-radius: 5px;
    width: 70px;
    margin-top: 10px;
    padding: 3px 10px;
    font-weight: 200;
    color: black;
    margin-left: 10px;
}

.blog-info a:hover {
    color: black;
    border-color: blue;
    background-color: #f5684f;
}

.blog-title {
    margin-left: 10px;
}

.blog-rating span {
    align-items: center;
    margin-left: 13px;

}

.fa-clock {
    color: brown;
    margin-right: 3px;
    margin-bottom: 15px;
}

.fa-message {
    color: brown;
    margin-right: 3px;
}



/* ----------------------
blogs style end */


/* view all button style */
.view-all-Link-button {
    background-color: red;
    border: 1px solid red;
    padding: 7px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1em;
    font-weight: 700;
    font-family: 'Lucida Sans';
    margin-left: 700px;
}

.view-all-Link-button:hover {
    border: 1px solid orange;
    background-color: black;
    color: orange;
}

/* footer style start */
.footer {
    background-color: black;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
}

.footer-title {
    text-align: center;
    padding-top: 5%;
    font-size: 40px;
    color: white;
}

hr {
    width: 60%;
    color: white;
}

.footer-options {
    display: flex;
    justify-content: center;
    color: #ffffff;
    padding-left: 20px;
}

.footer-options p {
    margin: 20px;
    font-size: 10px;
}


.social-icons {
    text-align: center;

}

.fa-facebook {
    color: royalblue;
    font-size: 30px;
}

.fa-instagram {
    color: coral;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.fa-twitter {
    color: skyblue;
    font-size: 30px;
}

/* footer style end */