/* common font-family */
body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}


/* banner content style start */
main {
    margin-bottom: 20px;
}

.banner-container {
    width: 85%;
    border-radius: 10px;
    background-color: black;
    margin: 50px auto;
}

.banner-content {
    display: flex;
    padding: 30px 50px 0 50px;
    justify-content: space-evenly;
}

.heading {
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 0;
}

.half-width p {
    color: lightyellow;
    font-size: 12px;
    margin-bottom: 30px;

}

.half-width {
    width: 50%;
}

.half-width img {
    width: 80%;
    padding: 0 50px;
}

.link-button {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: orange;
    box-sizing: border-box;
    align-items: center;

}

.link-button a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.fa-greater-than {
    font-size: 20px;
    padding-left: 5px;
}

.player-image {
    width: 400px;
    height: 470px;
    transition: ease 3s;
    transform: translateX(-100px);

}

.banner-container:hover .player-image {
    width: 470px;
}

/* -----------------------
banner content style end
-------------------------- */

/* blogs-container style start */
/* blog manues style start */
.manues {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.manues a {
    text-decoration: none;


}

#manue-1 {
    background-color: orange;
    border-radius: 5px;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 700;
    color: white;
}

#manue-2 {
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 700;
    color: black;
    margin: 25px 0;
}

#manue-3 {
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 700;
    color: black;
}

#manue-1:hover {
    color: black;
}

#manue-2:hover {
    color: red;
}

#manue-3:hover {
    color: red;
    background-color: white;
}

/* blog manues style end */


/* ----------------------
blogs style start */

.match-container {
    width: 85%;
    background-color: white;
    margin: 150px auto 50px auto;
    display: flex;
}

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.match {
    margin-left: 35px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 5px 5px 10px grey;
    width: 280px;
    text-align: center;
    padding: 20px 30px;
    box-sizing: border-box;
}



.match-vs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.match-vs img {
    width: 95px;
}

.vs {
    margin-left: 20px;
    margin-right: 20px;
}



/* ----------------------
blogs style end */

/* view all button style */
.view-all-Link-button {
    background-color: orange;
    padding: 7px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-left: 760px;
    /* visibility: hidden; */
}



/* footer style start */
.footer {
    background-color: black;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
}

.footer-title {
    text-align: center;
    padding-top: 5%;
    font-size: 40px;
    color: white;
}

hr {
    width: 60%;
    color: white;
}

.footer-options {
    display: flex;
    justify-content: center;
    color: #ffffff;
    padding-left: 20px;
}

.footer-options p {
    margin: 20px;
    font-size: 10px;
}


.social-icons {
    text-align: center;

}

.fa-facebook {
    color: royalblue;
    font-size: 30px;
}

.fa-instagram {
    color: coral;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.fa-twitter {
    color: skyblue;
    font-size: 30px;
}

/* footer style end */